* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(bg.jpg) ;
    
}


.container {
    background: white;
    padding: 30px;
    border-radius: 6px;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-bottom: 15%;
    padding-top: 10%;
    background-position: right center; 
    font-size:28px;
    font-weight:600;
     color : black;
    text-align: center;

}
h1 {
    font-size: 50px;
    font-style:"Times New Roman";
}
h2 {
 padding-bottom: 15px;
 font-family: 'Open Sans Condensed', sans-serif; font-size: 45px; color: #333; }

h2:hover {
     color: rgb(78, 78, 240);
      text-decoration: none; 
}

h4 {
    font-size: 20px;
    font-style:"Times New Roman";
}

nav {
    width: 100%;
    height: 60px;
    background-color: rgb(78, 78, 240);
}


nav p {
font-family: arial;
color: #222;
font-size: 24px;
line-height: 55px;
float: left;
padding: 0px 20px;
}

nav ul {
    float: left;

}
nav ul li {
    float: left;
    list-style: none;
    position: relative;
}
nav ul li a {
    display: block;
    font-family: arial;
    color: #fff;
    font-size: 14px;
    padding: 22px 14px;
    text-decoration: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: black;
    padding: 10px;
    border-radius:10px;
}
nav ul li:hover ul {
    display: block;
    
}


nav ul li ul li {
 width: 100px;
 border-radius: 1px;
}
nav ul li ul li a{
    padding: 8px 14px;


}

nav ul li ul li a:hover{
    background-color: rgb(78, 78, 240);
   

}

.Logout {
   float: right;
   padding: 22px 14px;
}

.field button {
    border-radius: 12px;
    color: rgb(0, 0, 0);
   
    padding: 12px 28px;
    text-align: right;
    font-size: 18px;
    background-color: rgb(35, 91, 245);
    transition-duration: 0.4s;
  
    position:fixed;
    right:10px;
    top:5px;
    

}.field button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
   .field button:active {
          background-color: #3e8e41;
          box-shadow: 0 5px #666;
          transform: translateY(4px);
    }
  
/*=========================================================================================================*/
/*=========================================================================================================*/

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 700px) {
    .container {
        width: 200%;
    }
    
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media screen and (min-width: 400px) {
    .container {
        width: 200%;
    }
   
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media screen and (min-width: 768px) {
    .container {
        width: 200%;
    }
   
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media screen and (min-width: 992px) {
    .container {
        width: 200%;
    }
   
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media screen and (min-width: 1200px) {
    .container {
        width: 200%;
    }
  
  }