* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(bg.jpg) ;
    
}


.container {
    background: white;
    padding: 30px;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 30%;
    padding-top: 10%;
    background-position: right center; 
}

header {
    font-size:28px;
    font-weight:100px;
    color : black;
    text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
header .overlay{
	width: 50%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
	
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
	margin-bottom: 30px;
}