.Table-class {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
}
h4 {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    background-color: rgb(78, 78, 240);
    color: white;
    text-align: left;
    padding: 12px 15px;
    width: 50px;
    border-bottom: 1px solid #dddddd;
    font-weight: bold;
}
h4 a {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    color: white;
    text-align: left;
    padding: 12px 15px;
    border-bottom: 1px solid #dddddd;
    font-weight: bold;
    width: 50px;
}

.Table-class thead tr{
    background-color: rgb(78, 78, 240);
    color: white;
    text-align: left;
    font-weight: bold;
}

.Table-class th,
.Table-class td {
    padding: 12px 15px;
}

.Table-class tbody tr{
    border-bottom: 1px solid #dddddd;
}

.Table-class tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.Table-class tbody tr:last-of-type{
    border-bottom: 2px solid rgb(78, 78, 240) ;
}

.form-control{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    background-color: white;
    color: rgb(78, 78, 240);
    text-align: left;
    border-bottom: 1px solid #dddddd;
    font-weight: bold;
}
label {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    background-color: rgb(78, 78, 240);
    color: white;
    text-align: left;
    padding: 12px 15px;
    border-bottom: 1px solid #dddddd;
    font-weight: bold;
}

.field-button {
    border-radius: 12px;
    margin: 25px 0;
    font-size: 0.9em;
    text-align: left;
    padding: 12px 28px;
    font-size: 18px;
    background-color:rgb(78, 78, 240);
    color: white;
    transition-duration: 0.4s;
   width: 12%;

}.field-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
   .field-button:active {
          background-color: #3e8e41;
          transform: translateY(4px);
    }
  
.btn-success {
    transition-duration: 0.4s;
    font-size: 0.9em;
    text-align: left;
    border-radius: 12px;
    margin: 15px;
    border: none;
    padding: 12px;
    width: 50px;
   }

   .btn-success:hover {
    background-color: green;
    color: white;
}

.btn-delete {
   
    font-size: 0.9em;
    text-align: left;
    border-radius: 12px;
    margin: 15px;
    border: none;
    padding: 12px;
    width: 50px;
}
.btn-delete:hover {
    background-color: red;
    color: white;
}

.btn-upload {
    transition-duration: 0.4s;
    font-size: 0.9em;
    text-align: left;
    border-radius: 15px;
    margin: 15px;
    border: none;
    padding: 20px;
    width: 90px;
}
.btn-upload:hover {
    background-color: green;
    color: white;
}



/*=========================================================================================================*/
/*=========================================================================================================*/

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 700px) {
    .container {
        width: 200%;
    }
   
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media screen and (min-width: 400px) {
    .container {
        width: 200%;
    }
   
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media screen and (min-width: 768px) {
    .container {
        width: 200%;
    }
   
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media screen and (min-width: 992px) {
    .container {
        width: 200%;
    }
   
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media screen and (min-width: 1200px) {
    .container {
        width: 200%;
    }
   
  }