body {
    color:black;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;

    background: url(./PUPR.jpg);
    background-size: cover;
    background-position: center;

}
.container {
 width: 360px;   
 max-width: 400px;
 margin: 100px auto;
 padding: 10% 0 0;
 box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
 border-radius: var(--border-radius);
 background: #ffffff;
 margin-bottom: 2rem;
 text-align: center;
}

.form {
position: relative;
z-index: 1;
background: #ffffff;
max-width: 400px;
margin: 0 auto 100px;
padding: 45px;
text-align: center;
}

.form input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin : 0 0 15px;
    padding : 15px;
    box-sizing:border-box;
    font-size: 14;

}

.form input:focus {
    border-color: blue;
    background: #ffffff;
}

.form button{
    width: 100%;
    padding : 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    background: rgb(35, 35, 245);
}
.form button:hover{
    color: rgb(0, 0, 105) darken;
   }

.form button:active {
    transform: scale(0.98);
}

.form .message{
    margin: 15px 0 0;
    font-size: 16px;
}

.form .message a{
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

.form .message:hover {
    text-decoration: underline;
}

.form .register-form {
    display: none;
}

