
#text{

    height: 25px;
    border-radius: 5px;
    padding: 10px;
    border: solid thin rgb(0, 0, 0);
    width: 100%;
    align-items: center;
    background-color:#f8f8f8;
    border-color: #10cf1a;

}

.login-text{
    width: 100%;
    color:#0e0d0d;
    background-color:#FFF;
    font-weight: 600;
    padding: 10px;
    top: 50;
    text-align: center;
    text-shadow: 4;
    font-size: 25px;
    border: none;
    min-height:50px; 
    outline-style:solid;
    min-width: 50px;
}

#button{

		padding: 10px;
		width: 200px;
		color: rgb(4, 51, 104);
		background-color: rgb(253, 253, 253);
		border: none;
        position:center;
        top: 50;
        border:none;
        border-radius:30px;
        text-align: center;

        min-height:50px; 
        min-width: 120px;
        border-color: #10cf1a;

}
#button:hover{
    background-color:#000000;
    transition: 0.7s;
}
#button:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
}

#button:active {
    background-color: #10cf1a;
    transition: 0.99;
}
#box{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4070f4;
    column-gap: 30px;
    border-color: #a29bfe;

    
}

.input-group{
    display: block;
    padding: 5px;
    width: 200px;
    text-align: center;
    border: none;
    background: #4070f4;
    outline: none;
    border-radius: 20px;
    color: #FFF;
    cursor: pointer;
    transition: .3s;

  
}
.text-center a {
    text-decoration: none;
    color: #0c0c0c;

}

.text-center a:hover {
    text-decoration: none;
  }
  
  .text-center a:active {
    text-decoration: underline;
    background-color: white;
  }
  


